body {
  margin: 0;
  overflow-x: hidden;
}
.w-100 {
  width: 100%;
}
.text-align-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.todo-home-tags {
  margin-top: 16px;
  flex-wrap: wrap;
}
.sky-blue {
  color: skyblue;
}
.todo-header {
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
.p-24 {
  padding: 24px;
}
.mb-16 {
  margin-bottom: 16px;
}
.w-200 {
  width: 200px;
}
.w-88 {
  width: 88%;
}
.mt-16 {
  margin-top: 16px;
}
.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.inline-flex {
  display: inline-flex;
}
.ant-list-item {
  background-color: #f9f9f9;
  padding: 0 !important;
  margin: 16px 0 !important;
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.23);
}
.todo-menu {
  width: 100% !important;
}
.layout-content {
  overflow: initial;
  height: 100%;
}
.todo-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.px-16 {
  padding: 0 16px;
}
.p-16 {
  padding: 16px;
}
